<footer>
    <div class="f-info">
          <div class="f-info-socials">
            <a 
              href="https://www.facebook.com/login/" 
              target="_blank" 
              class="social-link">
              <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a
              href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Flogin%2F&source=logged_out_half_sheet" 
              target="_blank" 
              class="social-link">
              <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a
              href="https://www.linkedin.com/login/" 
              target="_blank" 
              class="social-link">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
          <div class="f-info-brand">&copy;Trip Mate Private limited</div>
          <div class="f-info-links">
            <a>Privacy</a>&nbsp;
            <a>Terms</a>
          </div>
    </div>
</footer>
