<style>
  .search-btn{
    background-color: #D4AF37;
    color: #fff;
    border-radius: 25px;
  }

  .search-btn:hover{
    background-color: #D4AF37;
    color: #fff;
  }

  .search-btn{
    display: inline-flex;
    margin-right: 0.5rem;
    height: 85%;
    align-items: center;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    height: 85%;
  }

  .search-m{
    padding-top: 0.3rem;
  }

  .explore{
    font-size: 1rem;
  }

  .searching{
  border: 1px solid #D4AF37;     
  background-color: #f9f9f9;     
  color: #333;                  
  padding: 8px 12px;
  border-radius: 25px;
  }

  /* Responsive Styles for screen widths less than 500px */
  @media (max-width: 500px) {
    .search-m {
      padding-top: 0.5rem;
      width: 100%;
    }

    .search-inp {
      padding: 0.4rem 1rem;
      width: 80%;
      font-size: 0.9rem;
      margin-left: 20px;
    }

    .search-btn {
      margin-top: 0.5rem;
      width: 100%;
      justify-content: center;
    }

    .ms-auto {
      width: 50% !important;
      text-align: center !important;
      background-color: white !important;
      border: 1px solid #D4AF37;
    }

    .search-btn {
      height: 25px;
      width: 50%;
      margin-left: 50px;
      margin-bottom: 10px;
    }

    form.d-flex {
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;
    }

    .explore {
      font-size: 1.1rem;
      text-align: right;
      width: 100%;
      color: transparent !important;
    }

    .searching {
      font-size: 0.7rem;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
   <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup"> 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link explore" href="/listings">Trip Mate</a>
        </div>
        <div class="navbar-nav ms-auto search-m">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp searching" type="search" 
              placeholder="Search destinations"/>
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Search</button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Become a Host</a>
          <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
          <% } %>
        </div>
      </div>
    </div>
</nav>
